= ui_navbar status: :primary, type: :dark, container: { type: :fluid } do |nb|
  - nb.brand url: root_url do
    = Adminify::Application::NAME
  - if true # if user_signed_in?
    - nb.nav do |n|
      - n.link t('users'), url: users_path
  -  nb.nav class: "ms-auto" do |n|
    -# n.dropdown(locale, class: 'nav-item', alignment: :right) do |d|
      - d.link t('interface.navbar.french'), url: locale_path("fr"), class: 'nav-link', turbolinks: false
      - d.link t('interface.navbar.english'), url: locale_path("en"), class: 'nav-link', turbolinks: false
    - if user_signed_in?
      - n.dropdown UserDecorator.new(current_user).login_name, glyph: 'user', alignment: :right do |d|
        - d.link t('interface.sign_out'), { url: destroy_user_session_path},  data: { method: :delete }
    - else
      - n.link t('interface.sign_in'), url: new_user_session_path

